<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wen.business.dao.DemoMapper" >
	
	<select id="selectDemoByParam" parameterType="Map" resultType="com.wen.business.model.Demo">
	      select * from baseweb.demo d
	      where 1=1 
	      <if test="dId !=null">
	      and d.d_id=#{dId}
	      </if>
	      <if test="dName !=null and dName !=''">
	      and d.d_name = #{dName}
	      </if>
  	</select>
  	
</mapper>